In [1]:
import pandas as pd

df = pd.read_csv('submission.csv')
df

,ID,0,1,2,3,4,5,6,7,8,...,18520,18521,18522,18523,18524,18525,18526,18527,18528,18529
0,0,0,0,0,1,1,2,2,2,2,...,163,1413,145,147,1353,2484,145,542,1353,2483